.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputCity {
  margin: 1rem;
}
.buttonGetWether {
  margin: 1rem;
}
.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todayResultContainer {
  justify-content: center;
  align-items: center;
}
.todayResultTitle {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}
.todayResultWether {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}
.todayResultWetherIcon {
  margin: 0.2rem;
}

.todayResultWetherCelsius {
  margin: 0.2rem;
}
.todayResultCloth {
  border-radius: 50%; /* 円形にするための値 */
  border-style: solid;
  border-color: burlywood;
  overflow: hidden; /* 余分な部分を隠すために必要なオプション */
  width: 60%;
  height: 60%;
}
