/* 入力フォーム */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputCity {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.buttonGetWether {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  color: azure;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}
.formsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeSelect {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
/* 結果表示 */
.resultLoadingAndError {
  text-align: center;
  color: azure;
}
.resultTodayAndForecast {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: azure;
}
.resultTodayAndForecastHalf {
  margin: 0.4rem;
  flex: 1 0 25%; /* flex-grow, flex-shrink, flex-basis */
}
.resultImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todayResultContainer {
  justify-content: center;
  align-items: center;
}
.todayResultTitle {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.todayResultWether {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.todayResultWetherIcon {
  margin: 0.2rem;
}

.todayResultWetherCelsius {
  margin: 0.2rem;
}
.todayResultWetherCloth {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}
.todayResultCloth {
  border-radius: 50%; /* 円形にするための値 */
  border-style: solid;
  border-color: rgb(53, 40, 23);
  overflow: hidden; /* 余分な部分を隠すために必要なオプション */
  width: 20%;
  height: 20%;
}
.resultTitle {
  text-align: center;
}
.todayResultInOneDay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todayResultInOneDayFourContents {
  display: flex;
  text-align: center;
  justify-content: center;
}
.todayResultClothInOneDay {
  border-radius: 50%; /* 円形にするための値 */
  border-style: solid;
  border-color: rgb(53, 40, 23);
  overflow: hidden; /* 余分な部分を隠すために必要なオプション */
  width: 60%;
  text-align: center;
  justify-content: center;
}

/* レスポンシブ設定 */
@media (max-width: 800px) {
  .formContainer {
    flex-direction: column;
  }

  .inputCity,
  .placeSelect,
  .buttonGetWether {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .formsContainer {
    flex-direction: column;
  }

  .todayResultCloth {
    border-radius: 50%; /* 円形にするための値 */
    border-style: solid;
    border-color: rgb(53, 40, 23);
    overflow: hidden; /* 余分な部分を隠すために必要なオプション */
    width: 30%;
  }

  .todayResultInOneDayFourContents {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .todayResultClothInOneDay {
    border-radius: 50%; /* 円形にするための値 */
    border-style: solid;
    border-color: rgb(53, 40, 23);
    overflow: hidden; /* 余分な部分を隠すために必要なオプション */
    width: 30%;
    text-align: center;
    justify-content: center;
  }
}
